.u-section-1 .u-sheet-1 {
  min-height: 139px;
}

.u-section-1 .u-group-1 {
  min-height: 119px;
  height: auto;
  width: 910px;
  margin: 10px auto -6px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  text-shadow: -2px -2px 8px rgba(var(--false-r),var(--false-g),var(--false-b),1);
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 10px;
    min-height: 157px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-1 .u-group-1 {
    min-height: 251px;
    margin-bottom: -56px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 20532px;
}

.u-section-2 .u-group-1 {
  min-height: 19390px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 1px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 0;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 100px;
  width: 870px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 25176px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-1 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 8436px;
  }

  .u-section-2 .u-group-1 {
    min-height: 372px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 247px;
}

.u-section-3 .u-group-1 {
  min-height: 227px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 127px;
}

.u-section-4 .u-group-1 {
  min-height: 107px;
  height: auto;
  width: 910px;
  margin: 10px auto -18px 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-bottom: 9px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-4 .u-group-1 {
    min-height: 205px;
    margin-bottom: -107px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 22642px;
}

.u-section-5 .u-group-1 {
  min-height: 100px;
  height: auto;
  width: 910px;
  margin: 10px auto 9px 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 20px 0;
}

.u-section-5 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-custom-html-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  text-shadow: -2px -2px 8px rgba(var(--false-r),var(--false-g),var(--false-b),1);
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 24660px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-bottom: 9px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2148px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 127px;
}

.u-section-6 .u-group-1 {
  min-height: 107px;
  height: auto;
  width: 910px;
  margin: 10px auto -18px 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
    margin-bottom: 9px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-6 .u-group-1 {
    min-height: 184px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 30px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 60px;
}

.u-section-7 .u-group-1 {
  margin-top: 10px;
  margin-bottom: 7px;
  min-height: 40px;
  width: 910px;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
}

.u-section-7 .u-text-1 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    margin-right: auto;
    margin-bottom: 2px;
    margin-left: 0;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 100%;
    margin-bottom: -4px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    margin-bottom: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}