.u-section-1 .u-sheet-1 {
  min-height: 377px;
}

.u-section-1 .u-image-1 {
  width: 902px;
  height: 357px;
  margin: 10px auto 10px 2px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 285px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 214px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-1 .u-image-1 {
    height: 135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 498px;
}

.u-section-2 .u-group-1 {
  min-height: 478px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 3px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  text-shadow: -2px -2px 8px rgba(var(--false-r),var(--false-g),var(--false-b),1);
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-family: Raleway, sans-serif;
  text-shadow: -2px -2px 8px rgba(var(--false-r),var(--false-g),var(--false-b),1);
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-text-7 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 210px;
}

.u-section-3 .u-group-1 {
  min-height: 146px;
  height: auto;
  width: 910px;
  margin: 10px auto -104px 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 10px;
}

.u-section-3 .u-text-2 {
  margin: 19px 46px 0 10px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  text-shadow: -2px -2px 8px rgba(var(--false-r),var(--false-g),var(--false-b),1);
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-family: Raleway, sans-serif;
  text-shadow: -2px -2px 8px rgba(var(--false-r),var(--false-g),var(--false-b),1);
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-top: -38px;
    margin-bottom: -38px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 10px;
    margin-bottom: -45px;
    min-height: 158px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 170px;
}

.u-section-4 .u-group-1 {
  min-height: 146px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  text-shadow: -2px -2px 8px rgba(var(--false-r),var(--false-g),var(--false-b),1);
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-family: Raleway, sans-serif;
  text-shadow: -2px -2px 8px rgba(var(--false-r),var(--false-g),var(--false-b),1);
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    min-height: 2374px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 10px 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100px;
}

.u-section-5 .u-group-1 {
  min-height: 80px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  text-shadow: -2px -2px 8px rgba(var(--false-r),var(--false-g),var(--false-b),1);
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 60px;
  }

  .u-section-5 .u-group-1 {
    min-height: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 2px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 170px;
}

.u-section-6 .u-group-1 {
  min-height: 146px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 657px;
}

.u-section-7 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-7 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 165px;
}

.u-section-8 .u-group-1 {
  min-height: 146px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    height: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    margin-top: -17px;
    margin-bottom: -17px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 657px;
}

.u-section-9 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-9 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-9 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 165px;
}

.u-section-10 .u-group-1 {
  min-height: 146px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-10 .u-container-layout-1 {
  padding: 20px;
}

.u-section-10 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-group-1 {
    height: auto;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-group-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-10 .u-group-1 {
    width: 340px;
    margin-top: -17px;
    margin-bottom: -17px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 657px;
}

.u-section-11 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-11 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-11 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 124px;
}

.u-section-12 .u-group-1 {
  min-height: 105px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-12 .u-container-layout-1 {
  padding: 20px;
}

.u-section-12 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-group-1 {
    height: auto;
  }

  .u-section-12 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-group-1 {
    width: 540px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-12 .u-group-1 {
    width: 340px;
    margin-top: -33px;
    margin-bottom: -33px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 657px;
}

.u-section-13 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-13 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-13 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-13 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 124px;
}

.u-section-14 .u-group-1 {
  min-height: 105px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-14 .u-container-layout-1 {
  padding: 20px;
}

.u-section-14 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-group-1 {
    height: auto;
  }

  .u-section-14 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-group-1 {
    width: 540px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-14 .u-group-1 {
    width: 340px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 657px;
}

.u-section-15 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-15 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-15 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-15 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 124px;
}

.u-section-16 .u-group-1 {
  min-height: 105px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-16 .u-container-layout-1 {
  padding: 20px;
}

.u-section-16 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-group-1 {
    height: auto;
  }

  .u-section-16 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-group-1 {
    width: 540px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-16 .u-group-1 {
    width: 340px;
    margin-top: -17px;
    margin-bottom: -17px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 657px;
}

.u-section-17 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-17 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-17 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-17 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 124px;
}

.u-section-18 .u-group-1 {
  min-height: 105px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-18 .u-container-layout-1 {
  padding: 20px;
}

.u-section-18 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-18 .u-group-1 {
    height: auto;
  }

  .u-section-18 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-group-1 {
    width: 540px;
  }

  .u-section-18 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-18 .u-group-1 {
    width: 340px;
    margin-top: -49px;
    margin-bottom: -49px;
  }

  .u-section-18 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-19 .u-sheet-1 {
  min-height: 657px;
}

.u-section-19 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-19 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-19 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-19 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-19 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-19 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-19 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-20 .u-sheet-1 {
  min-height: 124px;
}

.u-section-20 .u-group-1 {
  min-height: 105px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-20 .u-container-layout-1 {
  padding: 20px;
}

.u-section-20 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-20 .u-group-1 {
    height: auto;
  }

  .u-section-20 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-20 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-20 .u-group-1 {
    width: 540px;
  }

  .u-section-20 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-20 .u-group-1 {
    width: 340px;
    margin-top: -49px;
    margin-bottom: -49px;
  }

  .u-section-20 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-21 .u-sheet-1 {
  min-height: 657px;
}

.u-section-21 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-21 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-21 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-21 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-21 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-21 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-22 .u-sheet-1 {
  min-height: 124px;
}

.u-section-22 .u-group-1 {
  min-height: 105px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-22 .u-container-layout-1 {
  padding: 20px;
}

.u-section-22 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-22 .u-group-1 {
    height: auto;
  }

  .u-section-22 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-22 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-22 .u-group-1 {
    width: 540px;
  }

  .u-section-22 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-22 .u-group-1 {
    width: 340px;
    margin-top: -49px;
    margin-bottom: -49px;
  }

  .u-section-22 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-23 .u-sheet-1 {
  min-height: 657px;
}

.u-section-23 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-23 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-23 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-23 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-23 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-23 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-23 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-24 .u-sheet-1 {
  min-height: 124px;
}

.u-section-24 .u-group-1 {
  min-height: 105px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-24 .u-container-layout-1 {
  padding: 20px;
}

.u-section-24 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-24 .u-group-1 {
    height: auto;
  }

  .u-section-24 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-24 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-24 .u-group-1 {
    width: 540px;
  }

  .u-section-24 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-24 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-24 .u-group-1 {
    width: 340px;
    margin-top: -65px;
    margin-bottom: -65px;
  }

  .u-section-24 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-25 .u-sheet-1 {
  min-height: 657px;
}

.u-section-25 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-25 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-25 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-25 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-25 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-25 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-25 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-26 .u-sheet-1 {
  min-height: 124px;
}

.u-section-26 .u-group-1 {
  min-height: 105px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-26 .u-container-layout-1 {
  padding: 20px;
}

.u-section-26 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-26 .u-group-1 {
    height: auto;
  }

  .u-section-26 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-26 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-26 .u-group-1 {
    width: 540px;
  }

  .u-section-26 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-26 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-26 .u-group-1 {
    width: 340px;
    margin-top: -65px;
    margin-bottom: -65px;
  }

  .u-section-26 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-27 .u-sheet-1 {
  min-height: 657px;
}

.u-section-27 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-27 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-27 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-27 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-27 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-27 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-27 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-28 .u-sheet-1 {
  min-height: 124px;
}

.u-section-28 .u-group-1 {
  min-height: 105px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-28 .u-container-layout-1 {
  padding: 20px;
}

.u-section-28 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-28 .u-group-1 {
    height: auto;
  }

  .u-section-28 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-28 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-28 .u-group-1 {
    width: 540px;
  }

  .u-section-28 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-28 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-28 .u-group-1 {
    width: 340px;
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .u-section-28 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-29 .u-sheet-1 {
  min-height: 657px;
}

.u-section-29 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-29 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-29 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-29 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-29 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-29 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-29 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-30 .u-sheet-1 {
  min-height: 124px;
}

.u-section-30 .u-group-1 {
  min-height: 105px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-30 .u-container-layout-1 {
  padding: 20px;
}

.u-section-30 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-30 .u-group-1 {
    height: auto;
  }

  .u-section-30 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-30 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-30 .u-group-1 {
    width: 540px;
  }

  .u-section-30 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-30 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-30 .u-group-1 {
    width: 340px;
    margin-top: -71px;
    margin-bottom: -70px;
  }

  .u-section-30 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-31 .u-sheet-1 {
  min-height: 657px;
}

.u-section-31 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-31 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-31 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-31 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-31 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-31 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-31 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-32 .u-sheet-1 {
  min-height: 124px;
}

.u-section-32 .u-group-1 {
  min-height: 105px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-32 .u-container-layout-1 {
  padding: 20px;
}

.u-section-32 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-32 .u-group-1 {
    height: auto;
  }

  .u-section-32 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-32 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-32 .u-group-1 {
    width: 540px;
  }

  .u-section-32 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-32 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-32 .u-group-1 {
    width: 340px;
    margin-top: -65px;
    margin-bottom: -65px;
  }

  .u-section-32 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-33 .u-sheet-1 {
  min-height: 657px;
}

.u-section-33 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-33 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-33 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-33 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-33 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-33 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-33 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-34 .u-sheet-1 {
  min-height: 91px;
}

.u-section-34 .u-group-1 {
  min-height: 71px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-34 .u-container-layout-1 {
  padding: 20px;
}

.u-section-34 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-34 .u-group-1 {
    height: auto;
  }

  .u-section-34 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-34 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-34 .u-group-1 {
    width: 540px;
  }

  .u-section-34 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-34 .u-sheet-1 {
    min-height: 104px;
  }

  .u-section-34 .u-group-1 {
    width: 340px;
    margin-top: -81px;
    margin-bottom: -81px;
  }

  .u-section-34 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-35 .u-sheet-1 {
  min-height: 657px;
}

.u-section-35 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-35 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-35 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-35 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-35 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-35 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-35 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-36 .u-sheet-1 {
  min-height: 91px;
}

.u-section-36 .u-group-1 {
  min-height: 71px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-36 .u-container-layout-1 {
  padding: 20px;
}

.u-section-36 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-36 .u-group-1 {
    height: auto;
  }

  .u-section-36 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-36 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-36 .u-group-1 {
    width: 540px;
  }

  .u-section-36 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-36 .u-sheet-1 {
    min-height: 104px;
  }

  .u-section-36 .u-group-1 {
    width: 340px;
    margin-top: -81px;
    margin-bottom: -81px;
  }

  .u-section-36 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-37 .u-sheet-1 {
  min-height: 657px;
}

.u-section-37 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-37 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-37 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-37 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-37 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-37 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-37 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-38 .u-sheet-1 {
  min-height: 91px;
}

.u-section-38 .u-group-1 {
  min-height: 71px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-38 .u-container-layout-1 {
  padding: 20px;
}

.u-section-38 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-38 .u-group-1 {
    height: auto;
  }

  .u-section-38 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-38 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-38 .u-group-1 {
    width: 540px;
  }

  .u-section-38 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-38 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-38 .u-group-1 {
    width: 340px;
    margin-top: -65px;
    margin-bottom: -65px;
  }

  .u-section-38 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-39 .u-sheet-1 {
  min-height: 657px;
}

.u-section-39 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-39 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-39 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-39 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-39 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-39 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-39 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-40 .u-sheet-1 {
  min-height: 91px;
}

.u-section-40 .u-group-1 {
  min-height: 71px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-40 .u-container-layout-1 {
  padding: 20px;
}

.u-section-40 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-40 .u-group-1 {
    height: auto;
  }

  .u-section-40 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-40 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-40 .u-group-1 {
    width: 540px;
  }

  .u-section-40 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-40 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-40 .u-group-1 {
    width: 340px;
    margin-top: -49px;
    margin-bottom: -49px;
  }

  .u-section-40 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}.u-section-41 .u-sheet-1 {
  min-height: 657px;
}

.u-section-41 .u-image-1 {
  width: 910px;
  height: 637px;
  margin: 10px auto 10px 0;
}

@media (max-width: 991px) {
  .u-section-41 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-41 .u-image-1 {
    width: 720px;
    height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-41 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-41 .u-image-1 {
    width: 540px;
    height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-41 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-41 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-42 .u-sheet-1 {
  min-height: 100px;
}

.u-section-42 .u-group-1 {
  min-height: 80px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-42 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-42 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-42 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  text-shadow: -2px -2px 8px rgba(var(--false-r),var(--false-g),var(--false-b),1);
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-42 .u-group-1 {
    height: auto;
  }

  .u-section-42 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-42 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-42 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-42 .u-group-1 {
    width: 540px;
  }

  .u-section-42 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-42 .u-sheet-1 {
    min-height: 60px;
  }

  .u-section-42 .u-group-1 {
    min-height: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-42 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-42 .u-text-1 {
    width: auto;
    margin-top: 2px;
  }
}.u-section-43 .u-sheet-1 {
  min-height: 455px;
}

.u-section-43 .u-group-1 {
  min-height: 435px;
  height: auto;
  width: 910px;
  margin: 10px auto 10px 0;
}

.u-section-43 .u-container-layout-1 {
  padding: 0;
}

.u-section-43 .u-layout-wrap-1 {
  width: 870px;
  margin: 0 auto;
}

.u-section-43 .u-layout-cell-1 {
  min-height: 435px;
}

.u-section-43 .u-container-layout-2 {
  padding: 16px 10px;
}

.u-section-43 .u-image-1 {
  height: 369px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-43 .u-layout-cell-2 {
  min-height: 435px;
}

.u-section-43 .u-container-layout-3 {
  padding: 30px 30px 12px;
}

.u-section-43 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-43 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-43 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-43 .u-btn-1 {
  background-image: none;
  font-family: Raleway, sans-serif;
  text-shadow: -2px -2px 8px rgba(var(--false-r),var(--false-g),var(--false-b),1);
  font-weight: 700;
  padding: 0;
}

.u-section-43 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-43 .u-btn-2 {
  background-image: none;
  font-family: Raleway, sans-serif;
  text-shadow: -2px -2px 8px rgba(var(--false-r),var(--false-g),var(--false-b),1);
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-43 .u-group-1 {
    height: auto;
  }

  .u-section-43 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }

  .u-section-43 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-43 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-43 .u-image-1 {
    height: 345px;
  }

  .u-section-43 .u-layout-cell-2 {
    min-height: 407px;
  }
}

@media (max-width: 991px) {
  .u-section-43 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-43 .u-group-1 {
    min-height: 502px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-43 .u-container-layout-1 {
    padding: 0 0 16px;
  }

  .u-section-43 .u-layout-wrap-1 {
    margin-top: -12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-43 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-43 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-43 .u-image-1 {
    height: 330px;
    margin-top: 20px;
  }

  .u-section-43 .u-layout-cell-2 {
    min-height: 550px;
  }

  .u-section-43 .u-container-layout-3 {
    padding-top: 6px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-43 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-43 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-43 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-43 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-43 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-43 .u-group-1 {
    min-height: 816px;
    margin-bottom: 4px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-43 .u-container-layout-1 {
    padding-bottom: 27px;
  }

  .u-section-43 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-43 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-43 .u-image-1 {
    height: 613px;
    margin-top: 21px;
  }

  .u-section-43 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-43 .u-container-layout-3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-43 .u-text-1 {
    margin-right: auto;
    margin-left: 44px;
  }

  .u-section-43 .u-text-2 {
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-43 .u-text-3 {
    margin-right: auto;
    margin-left: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-43 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-43 .u-group-1 {
    min-height: 993px;
    margin-bottom: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-43 .u-container-layout-1 {
    padding: 10px;
  }

  .u-section-43 .u-layout-wrap-1 {
    margin-top: 2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-43 .u-layout-cell-1 {
    min-height: 384px;
  }

  .u-section-43 .u-image-1 {
    height: 377px;
    margin-top: 0;
  }

  .u-section-43 .u-layout-cell-2 {
    min-height: 593px;
  }

  .u-section-43 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-43 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-43 .u-text-2 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-43 .u-text-3 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-43 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-44 .u-sheet-1 {
  min-height: 44px;
}

.u-section-44 .u-group-1 {
  min-height: 42px;
  width: 910px;
  height: auto;
  margin: 10px auto 10px 0;
}

.u-section-44 .u-container-layout-1 {
  padding: 10px;
}

.u-section-44 .u-text-1 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-44 .u-sheet-1 {
    min-height: 52px;
  }

  .u-section-44 .u-group-1 {
    height: auto;
  }

  .u-section-44 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-44 .u-sheet-1 {
    min-height: 62px;
  }

  .u-section-44 .u-group-1 {
    width: 100%;
    margin-bottom: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-44 .u-sheet-1 {
    min-height: 43px;
  }

  .u-section-44 .u-group-1 {
    margin-bottom: 10px;
    min-height: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}